@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans 3";
  src: url(./assets/fonts/SourceSans3.ttf) format("truetype");
}


html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: min(100vh, 900px);
}